header {
    width: 100%;
    min-width: 1600px;
    height: 600px;
    position: relative;
    background-image: url("./images/home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}
#nav_box {
    width: 376px;
    height: 56px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #800021;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.nav_text {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    font-size: 20px;
}
.point {
    width: 4px;
    height: 4px;
    border-radius: 999px;
    background-color: #FFFFFF;
}
#header_text1,
#header_text2 {
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
    text-shadow: 4px 4px 4px rgb(0,0,0,0.5);
    position: absolute;
}
#header_text1 {
    font-size: 96px;
    top: 181px;
}
#header_text2 {
    font-size: 128px;
    top: 274px;
}
main {
    width: 100%;
    min-width: 1600px;
    min-height: 480px;
}
#main_box {
    width: 1168px;
    background-color: #FFFFFF;
    position: relative;
    margin: -80px auto;
    display: flex;
    flex-wrap: wrap;
}
#box_1 {
    width: 120px;
    height: 120px;
    background-color: #800021;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    color: #FFFFFF;
}
#box_2 {
    width: 1048px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2 {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    color: #800021;
    height: 60px;
}
h3 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 20px;
    color: #808080;
}
#box_3 {
    width: 1168px;
    height: 440px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#first_text,
#second_text {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    color: #808080;
}
#first_text {
    height: 44px;
    font-size: 36px;
}
#second_text {
    margin: 4px 0 0;
    font-size: 24px;
}
#small_box {
    width: 48px;
    height: 48px;
    background-color: #800021;
    position: absolute;
    right: 0;
    bottom: 0;
}
a {
    text-decoration-line: none;
}
